
/* .container-create{
    display: flex;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/219794/pexels-photo-219794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form{
    display: flex;
    flex-direction: column;
    text-align:left;
    align-items:baseline;
    width: 30%;
    border: 1px solid black;
    margin: auto;
    padding: 2%;
    background-color: rgba(136, 209, 201, 0.548);
    border-radius: 10%;
}
.checkboxs{
    
    display: flex;
    height: auto;
    width: auto;
    font-size:medium;
    background-color: rgba(159, 230, 224, 0.548);
    flex-direction: column;
    text-align: left;
    color: black;
    border-radius: 5%;
    margin-left: 0rem;
    margin-right: 50%;
}
.label-checkbox{
    font-size: medium;
    padding: 4%;
}    
    
label{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2% 2% 2% 0%;
}
.input-label{
    height: 25px;

}
.navbar-title{
    padding: 1%;
    display: flex;
}
.diets-contain{
    width: 100%;
}
.create {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-top: 5%;
}
.create:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.create:active {
	position:relative;
	top:1px;
}
input{
    border-radius: 1%;
}
textarea{
    width: 60%;
    height: 50px;
    border-radius: 1%;
}
 */


.contains-newrecipe{
    display: flex;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/219794/pexels-photo-219794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    flex-direction: column;
    height: 1000px;
    color:white;
    font-weight: bolder;
    overflow-x: hidden;
}


.Formulario-newrecipe{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.548);    
    margin: 50px 280px 50px 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#000;
    border-style:outset;
    border-color: black;
    border-width: 7px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin-left: 27%;    
}

.titulo-newrecipe{
    font-family: 'Fredericka the Great', cursive;
}

.form-newrecipe{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: large;
    padding-bottom: 30px;
}

.form-right{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    align-items: center;
}

.form-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 50px;

}

.input-newrecipe{
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #599bb3;
}

.btn-create-newrecipe{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-top: 5%;
}

.btn-create-newrecipe:hover{
    background-color: rgba(43, 101, 109, 0.904);
    color: white;
}

.error-controlado{
    color: red;
    margin: 0%;
}
.contains-diet-newrecipe{
    display: flex;
    flex-direction: row;
    font-size:medium;
    align-items: center;
    list-style:none
}
.list-diet{
    list-style:none
    
}
.delete-diet-newrecipe{
    margin: 2%;
    height: 30px;
    align-items: center;

}