@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lora:ital,wght@0,700;1,400&display=swap');

.contenedor-home{
    height: auto;
    min-height: 1000px;
    width: auto;
    overflow-x: hidden;
    background-image: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 8%;
    
}

.cards{
    display: flex;   
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 2%;
}
.paginado-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.createrecipe-home{
    text-decoration: none solid rgb(68, 68, 68);
    margin: 1%;    
    font-size: 35px;   
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(58, 170, 173), 0 -10px 20px rgb(58, 170, 173), 0 -18px 40px rgb(0, 255, 195);
}
.createrecipe-home:hover{
    letter-spacing: 0.5rem;
    transition-duration: 0.5s;
    
}
.msjpre{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    width: auto;
    height: 70px;
    font-weight: bold;
    font-style: italic;
}
.select-home{
    padding: 6px;
    margin: 5px;
    border:none;
    border-radius: 4px;
}
.button-reset-home{
    padding: 7px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    transition: 0.6s;
    background-color: rgba(58, 170, 173, 0.767);
    font-weight: bolder;
    cursor: pointer;
}
a {
    text-decoration: none;   
}
.button-reset-home:hover{
    background-color: rgb(31, 135, 162);
    box-shadow: 1px 1px 10px 5px rgb(39, 39, 39);
}

.Nav-Bar-home{
    display: flex;
    padding-left: 3%;
    padding-top: 1%;
}